<!DOCTYPE html>
<html>
  <head>
    <title>Cairns</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="../stylesheets/detail.css">
    <script src="../javascripts/common.js"></script>
    <script src="../javascripts/jquery-3.1.1.min.js"></script>
    <script src="../javascripts/TouchSlide.1.1.js"></script>
  </head>
  <body></body>
  <div class="content">
    <div class="slideBox" id="slideBox">
      <div class="bd">
        <ul>
          <li><a class="pic" href="#"><img src="../images/banner/banner1.jpg"></a></li>
          <li><a class="pic" href="#"><img src="../images/banner/banner2.jpg"></a></li>
          <li><a class="pic" href="#"><img src="../images/banner/banner3.jpg"></a></li>
        </ul>
      </div>
      <div class="hd">
        <ul></ul>
      </div>
    </div>
    <div class="site"><span class="icon"><img src="../images/dingwei.png"></span><span>澳大利亚</span><span>凯恩斯</span></div>
    <div class="clear"></div>
    <div class="detail">
      <div class="title">景点介绍</div>
      <div class="introduce">
        <p><span>亮点导航：</span>
          <p>凯恩斯作为一个名牌度假胜地，以“自然主题城市”之名在澳大利亚位列魁首。这里有超过六百多种上天、下海、探森林等的户外活动，例如：乘船出海到举世知名的大堡礁体验海底珊瑚世界，浮潜或深海潜水；激流泛舟，骑马，搭乘搭乘热气球俯瞰古老的热带雨林，高空弹跳，独木舟，水上飞机等。惊险刺激的活动，使这里成为冒险者寻求户外刺激的天堂</p>
        </p>
      </div>
    </div>
  </div>
  <script src="../javascripts/slider.js"></script>
</html>