<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")-->
    <link rel="stylesheet" href="../stylesheets/hotel.css">
    <title>HOTEL</title>
  </head>
  <body>
    <div class="container">
      <div class="section">
        <div class="title"><span class="icon fas fa-home fa-2x"></span><span>beijing</span><a href="#"><span class="order">order</span></a></div>
        <div class="clear"></div>
        <div class="image"><img src="../images/hotel/hotel1.jpg">
          <div class="message"><span class="fas fa-home"></span><span class="fas fa-home"></span><span class="fas fa-home"></span><span class="price"></span></div>
        </div>
      </div>
    </div>
  </body>
</html>