<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
  </head>
  <body>
    <div></div>
    <div class="main">
      <div class="form">
        <h2>login now</h2>
        <form action="login" method="post">
          <input type="text" value="e-mail" id="text" name="name"/>
          <input type="password" value="password" id="password" name="email"/><span class="left">
            <input type="checkbox"/>Remember me</span><span class="right"><a>Forget Password?</a></span>
          <div class="clear"></div>
          <input type="submit" value="login"/>
          <p>Don't Have an Account ?<a>REGISTER NOW</a></p>
        </form>
      </div>
    </div>
  </body>
</html>