<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="../stylesheets/register.css">
  </head>
  <body>
    <div></div>
    <div class="main">
      <div class="form">
        <h2>register now</h2>
        <form action="register" method="post">
          <input type="text" placeholder="please enter your name" name="name"/>
          <input type="email" placeholder="please enter your email address" name="email"/>
          <input type="password" placeholder="please set the password" name="word"/>
          <input type="password" placeholder="please type your new password again" name="reword"/>
          <input type="submit" value="register"/><span class="check">
            <input type="checkbox"/><span>accept "User Agreement"</span></span>
        </form><a class="back">login now</a>
      </div>
    </div>
  </body>
</html>